.container {
    display: flex;
}
.board {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
    background-color: #E5E5E5;
}
/*=====question side=====*/
.question {
    padding: 2rem 0 0 3rem;
    min-height: 30vh;
    max-width: calc(100vw - 100px);
}
/*=====answers side=====*/
.answers {
    padding-bottom: 2rem;
    max-width: calc(100vw - 200px);
}
/*=====menu side=====*/
.menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    height: 100vh;
    padding: 0 0 1rem 0;
}
.btnMenu {
    position: fixed;
    background-image: url("../assets/menu/btnMenu.svg");
}
.btnClose {
    /*position: fixed;*/
    margin: 1rem;
    background-image: url("../assets/menu/btnClose.svg");
}
.hide {
    display: none;
}
.bckgnd {
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    color: #1C1C21;
    cursor: pointer;
}