body {
    position: relative;
    overflow-x: hidden;
}
body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 100vh solid rgba(255,243,235,1);
    border-left: 100vw solid transparent;
    z-index: -1;
}
.main {
    background-color: transparent;
    margin-top: 5rem;
}
.img {
    background-image: url("../assets/main/hand.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 400px;
    height: 400px;
}
.mainText {
    position: static;
    width: 624px;
    height: 130px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 116%;
    display: flex;
    align-items: center;
    color: #1C1C21;
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 2rem 0;
}
.startBtn {
    width: 296px;
    height: 64px;
    border-radius: 12px;
    background-color: #FF8B37;
    outline: none;
    border: none;
    transition: all 0.2s;
}
.textBtn {
    font-weight: bold;
    color: white;
}
.startBtn:hover {
    background-color: #FFAC70;
}
.startBtn:active {
    background-color: #E87928;
}